.playArea{
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
    display: none;
    
}

.grid{
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Nerko One', cursive;
    font-size: 5rem;
    background-color: rgba(255, 255, 255, 0.328);
    color: #ffffff;
    text-shadow: #FFF 0px 0px 5px, rgb(0, 0, 0) 0px 0px 10px, #FFF 0px 0px 15px, #b81868 0px 0px 20px, #ac0d5c 0px 0px 30px, #b41364 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
    box-shadow:  #FFF 0px 0px 5px, #2dd5ff 0px 0px 10px, #2dd5ff 0px 0px 15px, #2dd5ff 0px 0px 20px, #2dd5ff 0px 0px 30px, #2dd5ff 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;

}

.grid:hover{
    transform: scale(1.001);
    background-color: rgba(255, 255, 255, 0.404);
    cursor: pointer;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.2));
}

.titleHeader{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    display: flex;
    font-family: 'Press Start 2P', cursive;
    color: #f3dd13;
    margin-bottom: 4rem;
    text-shadow: rgb(139, 139, 139) 0px 0px 5px, rgb(129, 128, 128) 0px 0px 10px, rgb(143, 143, 143) 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
    -webkit-box-reflect: below 0px linear-gradient(transparent, rgba(255, 255, 255, 0.246));

}

.controls{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}

.startBtn{
    font-family: 'Press Start 2P', cursive;
    margin-right: 1rem;
    padding: 1rem;
    color: white;
    background-color:rgba(9, 255, 0, 0.856);
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow:  rgb(139, 139, 139) 0px 0px 5px, rgb(129, 128, 128) 0px 0px 10px, rgb(143, 143, 143) 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}

.startBtn:hover{
    background-color:  rgba(9, 255, 0, 0.911);
}

.resetBtn{
    font-family: 'Press Start 2P', cursive;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: rgba(255, 230, 0, 0.822);
    padding: 1rem;
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow:  rgb(139, 139, 139) 0px 0px 5px, rgb(129, 128, 128) 0px 0px 10px, rgb(143, 143, 143) 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}

.resetBtn:hover{
    background-color:  rgba(255, 230, 0, 0.931);
}

body{
    background: url('arcadebg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.closeBtn{
    font-family: 'Press Start 2P', cursive;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: rgba(255, 0, 0, 0.753);
    padding: 1rem;
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow:  rgb(139, 139, 139) 0px 0px 5px, rgb(129, 128, 128) 0px 0px 10px, rgb(143, 143, 143) 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}

.closeBtn:hover{
    background-color: rgba(255, 0, 0, 0.952);
}

#selectX{
    padding: 1rem;
    margin: 1rem;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow:  rgb(139, 139, 139) 0px 0px 5px, rgb(129, 128, 128) 0px 0px 10px, rgb(143, 143, 143) 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
    font-family: 'Press Start 2P', cursive;
    background-color: rgba(11, 14, 212, 0.719);
    color: white;
    cursor: pointer;
}

#selectO{
    padding: 1rem;
    margin: 1rem;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow:  rgb(139, 139, 139) 0px 0px 5px, rgb(129, 128, 128) 0px 0px 10px, rgb(143, 143, 143) 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
    font-family: 'Press Start 2P', cursive;
    background-color: rgba(255, 115, 0, 0.767);
    color: white;
    cursor: pointer;
}

#selectX:hover{
    background-color: rgba(11, 14, 212, 0.924);
}

#selectO:hover{
    background-color: rgba(255, 115, 0, 0.959);
}

.winner{
    font-family: 'Press Start 2P', cursive;
    font-size: 5rem;
    text-align: center;
    color: springgreen;
    display: none;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.2));
}